{% block checkbox_row %}
    {% spaceless %}
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
        <div {% if attr['data-unit'] is defined %} class="row {{ attr['class-container'] }}" style="display:none;"{% else %}class="row"{% endif %}>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-xs-8">
        {% endif %}
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                    {{ label }} {% if attr['data-unit'] is defined and attr['data-unit'] is not null %} ( {{ attr['data-unit'] }} ) {% endif %}
                    </label>
                    <div class="col-sm-8">
                        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    </div>
                </div>
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
            </div>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block text_row %}
    {% spaceless %}
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
        <div {% if attr['data-unit'] is defined %} class="row {{ attr['class-container'] }}" style="display:none;"{% else %}class="row"{% endif %}>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-xs-8">
        {% endif %}
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ label }} {% if attr['data-unit'] is defined and attr['data-unit'] is not null %} ( {{ attr['data-unit'] }} ) {% endif %}
                    </label>
                    <div class="col-sm-8 container_slider">
                        <div class="row">
                            <div class="col-xs-2 fn_min">
                                {{ attr['data-slider-min'] }}
                            </div>
                            <div class="col-xs-8">
                                <input type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
                            </div>
                            <div class="col-xs-2 fn_max">
                                {{ attr['data-slider-max'] }}
                            </div>
                        </div>
                    </div>
                </div>
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
            </div>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block choice_row %}
    {% spaceless %}
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
        <div {% if attr['data-unit'] is defined %} class="row {{ attr['class-container'] }}" style="display:none;"{% else %}class="row"{% endif %}>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="col-xs-8">
        {% endif %}
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ label }} {% if attr['data-unit'] is defined and attr['data-unit'] is not null %} ( {{ attr['data-unit'] }} ) {% endif %}
                    </label>
                    <div class="col-sm-8">
                        {% if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) %}
                            {% set required = false %}
                        {% endif %}
                        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                            {% if placeholder is not none %}
                                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
                            {% endif %}
                            {% if preferred_choices|length > 0 %}
                                {% set options = preferred_choices %}
                                {{ block('choice_widget_options') }}
                                {% if choices|length > 0 and separator is not none %}
                                    <option disabled="disabled">{{ separator }}</option>
                                {% endif %}
                            {% endif %}
                            {% set options = choices %}
                            {{ block('choice_widget_options') }}
                        </select>
                    </div>
                </div>
        {% if attr['data-unit'] is defined and attr['class-container'] == "container_child" %}
            </div>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
